<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>

	<appSettings>


		<!-- 加密后的数据库地址 -->


		<!--服务器-->
		<add key="conn" value="yourSqlDataBaseCon"/>
		

		<!--QQ邮箱配置-->
		<add key ="SmtpClass" value="QQ"/>
		<add key ="SmtpHost" value="smtp.qq.com"/>
		<add key ="SmtpPort" value="587"/>
		<add key="FormMail" value="你的邮箱地址"/>
		<!--服务器-->
		<add key="AuthorizationCode" value="你申请的授权码"/>  
		
		
		

		<!--Outlook-->
		
		<!--<add key="formmail" value=""/>
		<add key="emailhost" value=""/>-->

		<!--163邮箱配置-->
	
		<!--<add key ="SmtpClass" value="163"/>
		<add key ="SmtpHost" value="smtp.163.com"/>
		<add key ="SmtpPort" value="25"/>
		<add key="AuthorizationCode" value="你申请的授权码"/>
		<add key="FormMail" value=""/>-->

		

	



	</appSettings>
</configuration>